body{
    margin: 0;
    padding: 0;
}
.page{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.title{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: fixed;
    width: 50%;
    height: 100%;
    background: rgb(44, 44, 44);
    color: aliceblue;
}
#title-button{
    height: 50px;
    width: 50px;
}
.information{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 2000px;
    right: 0;
    background: #c44040;
    color: aliceblue;
}